<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full regression" verbose="1" parallel="false">
  <listeners>
    <listener class-name="com.insiderOne.listener.TestListener"/>
  </listeners>

  <test name="UI tests">
    <packages>
      <package name="com.insiderOne.ui.tests"/>
    </packages>
  </test>

  <test name="API tests">
    <packages>
      <package name="api.tests"/>
    </packages>
  </test>
</suite>
